@import "@styles/variables";

.loader {
    height: $avatarSize;
    font-style: normal;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    border-bottom: $borderRadus solid $colorHint;
}