.search-bar__input {
    flex-grow: 1;
    background-color: var(--background); 
    border: var(--borderWidth) solid var(--colorBorder);    
    border-radius: var(--borderRadus);
    font-size: 14px;
    padding: 14px;
    margin-right: 12px;
    height: inherit;
    outline: none;    
}
.search-bar__input:focus,  .search-bar__input:active{
    border-color: var(--accent);
}
.search-bar__input:disabled {
    border-color: var(--colorHint);
    color: var(--colorHint); 
}