$fontSizeMain: 16px;
$borderWidth: 1px;
$borderRadus: 6px;
$avatarSize: 80px;

$colorHint: #7E7E7E;
$colorDefault: #000;
$colorBorder: #D9D9D9;
$shadow: rgba(182, 182, 182, 0.25);
$accent: #FF5555;
$background: #ffffff;
$backgroundMain: #f9f9f9;
$starAccent: #FF9432;
$linkHover: #208FBF;