@import "@styles/variables";

.lightGrayBackground {
  background-color: $backgroundMain;
  padding: 8px 0;   
}

.reposListComponent {
  width: 397px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-rows: 50px 1fr; 
  gap: 20px 0px; 
  justify-items: center;
}

.searchBar {    
  width: 100%;
  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;        
  }    
}

.reposList {
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 16px 0px; 
}