/* TODO: перейти на AntDesign 
@import '~antd/dist/antd.scss'; */
@import "@styles/variables";

.App {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
  font-size: $fontSizeMain;
  font-style: normal;
  
  color: $colorDefault;    
}

.lightGrayBackground {
  background-color: $backgroundMain;
  padding: 8px 0;   
}
