/* TODO: перейти на AntDesign 
@import '~antd/dist/antd.css'; */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --fontSizeMain: 16px;
  --borderWidth: 1px;
  --borderRadus: 6px;
  font-size: var(--fontSizeMain);
  font-style: normal;

  --colorHint: #7E7E7E;
  --colorDefault: #000;
  --colorBorder: #D9D9D9;
  --shadow: rgba(182, 182, 182, 0.25);
  --accent: #FF5555;
  --background: #ffffff;
  --backgroundMain: #f9f9f9;
  --starAccent: #FF9432;
  --linkHover: #208FBF;
  color: var(--colorDefault);    
}

.light-gray-background {
  background-color: var(--backgroundMain);
  padding: 8px 0;   
}
