.git-repo-tile__avatar {
    width: 80px;
    height: 80px;
    background-color: var(--accent);
    border-radius: 40px;    
    font-size: 40px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0em;
    text-align: center;
    color: var(--background);
    margin-right: 12px;
}