<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h2>Cписок репозиториев</h2>
    </header>   
    <main>
        <section class="reposListComponent">
            <article class="searchBar">
                <form action="" method="get" class="searchForm">
                    <input type="search"  name="searchRepos" id="searchRepos" class="inputline">
                    <button type="submit" class="searchButton">
                        <img src="search.svg" alt="search icon" srcset="">
                    </button>
                </form>
            </article>
            <div class="reposList">
                <article class="gitRepoTile">
                    <div class="gitRepoTileContainer">
                        <div class="avatar">K</div>
                        <div class="content">
                            <a class="repoName">kts-school-frontend</a>
                            <a class="orgLink">ktsstudio</a>                            
                            <div class="info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="stars">123</p>
                                <p class="updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                <article class="gitRepoTile">
                    <div class="gitRepoTileContainer">
                        <div class="avatar">K</div>
                        <div class="content">
                            <a class="repoName">kts-school-frontend</a>
                            <a class="orgLink">ktsstudio</a>                            
                            <div class="info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="stars">123</p>
                                <p class="updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                <article class="gitRepoTile">
                    <div class="gitRepoTileContainer">
                        <div class="avatar">
                            <img src="avatar.png" alt="repo avatar" srcset="">
                        </div>
                        <div class="content">
                            <a class="repoName">very-long-repository-name-a...</a>
                            <a class="orgLink">ktsstudio</a>                            
                            <div class="info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="stars">123</p>
                                <p class="updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                <article class="gitRepoTile">
                    <div class="gitRepoTileContainer">
                        <div class="avatar">K</div>
                        <div class="content">
                            <a class="repoName">kts-school-frontend</a>
                            <a class="orgLink">ktsstudio</a>                            
                            <div class="info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="stars">123</p>
                                <p class="updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                <article class="gitRepoTile">
                    <div class="gitRepoTileContainer">
                        <div class="avatar">K</div>
                        <div class="content">
                            <a class="repoName">kts-school-frontend</a>
                            <a class="orgLink">ktsstudio</a>                            
                            <div class="info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="stars">123</p>
                                <p class="updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                
                
            </div>
        </section>
    </main>

</body>
</html>