<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h2>Cписок репозиториев</h2>
    </header>   
    <main>
        <section class="reposListComponent">
            <article class="searchBar">
                <input type="text" name="searchRepos" id="searchRepos" class="inputline">
                <button class="searchButton"></button>
            </article>
            <div class="reposList">
                <article class="gitRepoTile">
                    <div class="avatar"></div>
                    <div class="content">
                        <a class="orgName"></a>
                        <a class="repoName"></a>
                        <div class="info">
                            <p class="stars"></p>
                            <p class="updated"></p>
                        </div>
                    </div>
                </article>
                <article class="gitRepoTile">
                    <div class="avatar"></div>
                    <div class="content">
                        <a class="orgName"></a>
                        <a class="repoName"></a>
                        <div class="info">
                            <p class="stars"></p>
                            <p class="updated"></p>
                        </div>
                    </div>
                </article>
                <article class="gitRepoTile">
                    <div class="avatar"></div>
                    <div class="content">
                        <a class="orgName"></a>
                        <a class="repoName"></a>
                        <div class="info">
                            <p class="stars"></p>
                            <p class="updated"></p>
                        </div>
                    </div>
                </article>
                <article class="gitRepoTile">
                    <div class="avatar"></div>
                    <div class="content">
                        <a class="orgName"></a>
                        <a class="repoName"></a>
                        <div class="info">
                            <p class="stars"></p>
                            <p class="updated"></p>
                        </div>
                    </div>
                </article>
                <article class="gitRepoTile">
                    <div class="avatar"></div>
                    <div class="content">
                        <a class="orgName"></a>
                        <a class="repoName"></a>
                        <div class="info">
                            <p class="stars"></p>
                            <p class="updated"></p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>

</body>
</html>