<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" git-repo-tile__content="IE=edge">
    <meta name="viewport" git-repo-tile__content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <h2 class="header__title">Cписок репозиториев</h2>
    </header>   
    <main class="main">
        <section class="repos-list-component">
            <article class="search-bar">
                <form action="" method="get" class="search-bar__form">
                    <input type="search"  name="searchRepos" id="searchRepos" class="search-bar__input">
                    <button type="submit" class="search-bar__button">
                        <img src="search.svg" alt="search icon" class="search-bar__icon">
                    </button>
                </form>
            </article>
            <div class="repos-list">
                <article class="git-repo-tile">
                    <div class="git-repo-tile__container">
                        <div class="git-repo-tile__avatar">K</div>
                        <div class="git-repo-tile__content">
                            <a class="git-repo-tile__repo-name">kts-school-frontend</a>
                            <a class="git-repo-tile__org-link">ktsstudio</a>                            
                            <div class="git-repo-tile__info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="git-repo-tile__stars">123</p>
                                <p class="git-repo-tile__updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                <article class="git-repo-tile">
                    <div class="git-repo-tile__container">
                        <div class="git-repo-tile__avatar">K</div>
                        <div class="git-repo-tile__content">
                            <a class="git-repo-tile__repo-name">kts-school-frontend</a>
                            <a class="git-repo-tile__org-link">ktsstudio</a>                            
                            <div class="git-repo-tile__info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="git-repo-tile__stars">123</p>
                                <p class="git-repo-tile__updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                <article class="git-repo-tile">
                    <div class="git-repo-tile__container">
                        <div class="git-repo-tile__avatar">
                            <img src="avatar.png" alt="repo avatar" srcset="">
                        </div>
                        <div class="git-repo-tile__content">
                            <a class="git-repo-tile__repo-name">very-long-repository-name-an..</a>
                            <a class="git-repo-tile__org-link">ktsstudio</a>                            
                            <div class="git-repo-tile__info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="git-repo-tile__stars">123</p>
                                <p class="git-repo-tile__updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                <article class="git-repo-tile">
                    <div class="git-repo-tile__container">
                        <div class="git-repo-tile__avatar">K</div>
                        <div class="git-repo-tile__content">
                            <a class="git-repo-tile__repo-name">kts-school-frontend</a>
                            <a class="git-repo-tile__org-link">ktsstudio</a>                            
                            <div class="git-repo-tile__info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="git-repo-tile__stars">123</p>
                                <p class="git-repo-tile__updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                <article class="git-repo-tile">
                    <div class="git-repo-tile__container">
                        <div class="git-repo-tile__avatar">K</div>
                        <div class="git-repo-tile__content">
                            <a class="git-repo-tile__repo-name">kts-school-frontend</a>
                            <a class="git-repo-tile__org-link">ktsstudio</a>                            
                            <div class="git-repo-tile__info">
                                <img src="star.svg" alt="search icon" srcset="">
                                <p class="git-repo-tile__stars">123</p>
                                <p class="git-repo-tile__updated">Updated 21 Jul</p>
                            </div>
                        </div>
                    </div>                    
                </article>
                
                
            </div>
        </section>
    </main>

</body>
</html>