* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    --colorHint: #7E7E7E;
    --colorDefault: #000;
    --colorBorder: #D9D9D9;
    --shadow: rgba(182, 182, 182, 0.25);
    --accent: #FF5555;
    --background: #ffffff;
    --backgroundMain: #f9f9f9;
    --starAccent: #FF9432;
    --linkHover: #208FBF;
    color: var(--colorDefault);
    
}

.header__title{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
}
.header, .main {
    background-color: var(--backgroundMain);   
}
.main {
    padding: 1em 0;
}
.repos-list-component {
    width: 24.8125em;
    margin: 0 auto;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 3.125em 1fr; 
    gap: 1.25em 0px; 
    justify-items: center;
}

.search-bar {
    width: calc(100% - 2.5em);
    height: 100%;
    
}
.search-bar__form {
    position: relative;    
    height: inherit;
}
.search-bar__input, .git-repo-tile {
    background-color: var(--background);    
    border-width: 1px;
    border-style: solid;
    border-color: var(--colorBorder);    
    border-radius: 6px;
    
}
.search-bar__input {
    font-size: .875em;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    width: 21.071em;
    height: inherit;
    outline: none;    
}
.search-bar__input::placeholder {
    content: "Введите название организации";
    color: var(--colorHint);
}

.search-bar__input:focus,  .search-bar__input:active{
    border-color: var(--accent);
}
.search-bar__input:disabled {
    border-color: var(--colorHint);
    color: var(--colorHint); 
}
.search-bar__button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 3.125em;
    height: inherit;
    background-color: var(--accent);
    border-color: var(--accent);
    border-style: solid;
    border-width: 0;
    border-radius: 6px; 
}
.search-bar__button:hover {
    opacity: 0.7;
    cursor: pointer;
}
.search-bar__button:disabled {
    background-color: var(--colorBorder);
}
.search-bar__icon {
    vertical-align: middle;
}

.repos-list {
    width: 22.3125em;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(5, 1fr); 
    gap: 1em 0px; 
}

.git-repo-tile {
    box-sizing: content-box;
    height: 6.5em;
}
.git-repo-tile:hover {    
    cursor: pointer;
    box-shadow: 0px 2px 6px var(--shadow);
}
.git-repo-tile__avatar {
    width: 2em;
    align-self: stretch;
    margin-right: .3em;
    background-color: var(--accent);
    border-radius: 1em;    
    font-size: 2.5em;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 0em;
    text-align: center;
    color: var(--background);
}
.git-repo-tile__repo-name {
    font-style: normal;
    font-weight: 700;
    line-height: 1.25em;
}
.git-repo-tile__org-link, .git-repo-tile__info p {
    color: var(--colorHint);    
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}
.git-repo-tile__org-link:hover {
    color: var(--linkHover);
}
.git-repo-tile__container {
    height: 100%;
    padding: .75em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.git-repo-tile__content {    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.git-repo-tile__repo-name, .git-repo-tile__org-link {
    margin-bottom: .25em;
}
.git-repo-tile__info {    
    display: flex;
    justify-content: flex-start;    
}
.git-repo-tile__info img {
    align-self: center;
}
.git-repo-tile__stars {
    margin: 0 1.25em 0 1px;
}